<div class="detail-view-container">
    <div class="detail-view-info-panel">
        <span>Severity: {{ model?.severity }}</span>
        <span>Estimated date of failure: {{ model?.dateOfFailure }}</span>
        <span>Segment: {{ model?.segment }}</span>
        <span>Longitude: {{ model?.longitude }}</span>
        <span>Latitude: {{ model?.latitude }}</span>
    </div>
    <div class="detail-view-graph-container">
        <canvas id="myChart" class="detail-view-graph"></canvas>
    </div>
</div>
