.overlay {
    background: rgba(0, 0, 0, 0.75);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 4;

    &.hidden {
        display: none;
    }
  }

.overlay .overlay-content {
    background: #fff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);

    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 90%;
    height: 90%;
    max-height: 500px;
    z-index: 5;
  }