.navbar {
    display: flex;
    justify-content: space-between;

    padding: 10px;

    color: #e8eaed;
    background-color: #202124;
    border-bottom: 1px solid black;
}

.navbar-title {
    font-weight: 500;
}

.navbar-link {
    color: #e8eaed;
    margin: 0 5px;
}